import Vue from 'vue';
import App from './app/app.vue';<% if (routing) { %>
import router from './app/router';<% } %>

Vue.config.productionTip = false;

new Vue({<% if (routing) { %>
  router,<% } %>
  render: h => h(App)
}).$mount('#app');
