{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "outDir": "<%= offsetFromRoot %>dist/out-tsc",
    "types": ["webpack-env", "node"]
  },<% if (unitTestRunner === 'jest') { %>
  "exclude": ["**/*.spec.ts", "**/*.spec.tsx"],<% } %>
  "include": ["**/*.ts", "**/*.tsx", "**/*.vue"]
}
