import <% if (isVue3) { %>{ createApp }<% } else { %>Vue<% } %> from 'vue';
import App from './App.vue';<% if (routing) { %>
import router from './router';<% } %><% if (!isVue3) { %>

Vue.config.productionTip = false;<% } %>

<% if (isVue3) { %>createApp(App)<% if (routing) { %>
  .use(router)<% } %>
  .mount('#app');<% } else { %>new Vue({<% if (routing) { %>
  router,<% } %>
  render: h => h(App)
}).$mount('#app');<% } %>
