{
  "extends": [
    "../../.eslintrc",
    "plugin:vue/essential",
    "@vue/typescript/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {},
  "env": {
    "node": true
  },
  "overrides": [
    {
      "files": ["**/*.spec.{j,t}s?(x)"],
      "env": {
        "jest": true
      }
    }
  ],
  "ignorePatterns": ["!**/*"]
}
