{
  "extends": "<%= offsetFromRoot %>tsconfig.base.json",
  "compilerOptions": {
    "jsx": "preserve",
    "esModuleInterop": true,
    "allowSyntheticDefaultImports": true,
    "types": ["webpack-env", "node"],
    "strict": true
  },
  "include": [],
  "files": [],
  "references": [
    {
      "path": "./tsconfig.app.json"
    }
  ]
}
